html, body {
  height: 100%;
  width: 100%;
}
.border1{border-style: dotted;
  border-color: #4000ff;
  margin-top: 100px;
  margin-bottom: 75px;
  margin-right: 50px;
  margin-left: 25px;
  padding: 25px;
  }

.border2{border-style: solid;
  border-color: #ff4634;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 75px;
  margin-left: 100px;
  padding: 10px 15px 20px 25px;}

.border3{border-style: dashed;
  border-color: #1f6294;
  margin: 25px 35px 45px 5px;
  padding: 25px 50px 25px 50px;}

.border4{border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;}

.p1{
  font-family:  "Lucida Console", "Courier New", monospace;
   text-shadow: 2px 2px 5px red;
    text-transform: capitalize;
}

.p2{
  font-family: "Courier New";
  text-shadow: 2px 2px 5px green;
  word-spacing: 7px;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.one:hover, a:active {
  background-color: #c78404;
  font-size: 20px;
}
a.two, a.two:visited{
  background-color: #ff4634;
}

a.two:link {color:#c38076;}
a.two:visited {color:#390493;}
a.two:hover {font-family:monospace;}